
<form name="editForm" role="form" novalidate ng-submit="vm.saveList()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubcategoryEntryLabel">Create or edit a Subcategory Entry</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subcategoryEntry.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subcategoryEntry.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="vm.subcategoryEntry.category"
                    required ng-maxlength="256" />
            <div ng-show="editForm.category.$invalid">
                <p class="help-block"
                    ng-show="editForm.category.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.category.$error.maxlength">
                    This field cannot be longer than 256 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subcategory">Subcategory</label>
            <input type="text" class="form-control" name="subcategory" id="field_subcategory"
                    ng-model="vm.subcategoryEntry.subcategory"
                    required ng-maxlength="256" />
            <div ng-show="editForm.subcategory.$invalid">
                <p class="help-block"
                    ng-show="editForm.subcategory.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.subcategory.$error.maxlength">
                    This field cannot be longer than 256 characters.
                </p>
            </div>
            <button type="button" class="btn btn-default" aria-hidden="true"
                ng-click="vm.add()">Add</button>
        </div>

        <div class="table-responsive">
  	        <table class="jh-table table table-striped">
  	            <thead>
  	                <tr>
  	                    <th><span>Category</span></th>
  	                    <th><span>Subcategory</span></th>
  	                    <th></th>
  	                </tr>
  	            </thead>
  	            <tbody>
  	                <tr ng-repeat="lsData in vm.subcategoryEntryList track by $index">
  	                    <td>{{lsData.category}}</td>
  	                    <td>{{lsData.subcategory}}</td>
  	                </tr>
  	            </tbody>
  	        </table>
  	    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
